/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-light-blue: #81b3d2;
  --basic-mid-blue: #669ec0;
  --basic-dark-blue: #5496bd;
  --basic-light-grey: #f2f2f2;
  --basic-mid-grey: #eeeeee;
  --basic-dark-grey: #a9a9a9;
  --basic-light-brown: #766357;
  --basic-mid-brown: #604e43;
  --basic-dark-brown: #503e33;
  --basic-black: #000000;
  --basic-extra-dark: #333333;

  --special-light-grey: #cacaca; /* down button */
  --special-dark-grey: #666666; /* hotel rating */
  --special-grey: #bdbbbc; /* TML-Academy logo focus */
  --special-dark: #231f20; /* HTML-Academy logo still */
  --special-dark-blue: #ebebeb; /* input hover background */
  --special-mid-blue: #e5e5e5; /* input focus border */
  --special-white: rgba(255, 255, 255, 0.9); /* footer background */
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */

.main-header {
  margin-bottom: 0px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 531px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Main navigation */

.main-navigation {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  margin: auto 0;
  padding: 0;
  height: 56px;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  align-items: center;
}

.nav-column-1 {
  grid-column: 1 / 2;

  padding-left: 73px;
}

.nav-column-2 {
  grid-column: 2 / 3;

  padding-left: 100px;
}

.nav-column-3 {
  grid-column: 4 / 5;

  text-align: right;
  padding-right: 99px;
}

.nav-column-4 {
  grid-column: 5 / 6;

  text-align: right;
  padding-right: 73px;
}

.navigation-link {
  color: var(--basic-black);
}

.navigation-link:hover {
  color: var(--basic-light-blue);
}

.navigation-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-link-current {
  color: var(--basic-light-brown);
}

/* Welcome part*/

.welcome {
  height: 509px;
  background-image: url(../img/Background/background-welcome.jpg);
  background-color: var(--basic-light-blue);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome-img {
  width: 458px;
  height: 352px;
  margin: auto;
}

.welcome::after {
  content: url(../img/Background/welcome-bottom-shape.png);
  height: 57px;
  margin: 0;
  padding: 0;
}

/* Features */

.features-slogan {
  margin-top: 43px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features-list-title {
  color: var(--basic-extra-dark);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.features-list,
.tips-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list {
  margin-top: 51px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 256px 256px;
}

.image-item {
  grid-column: 1 / -1;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-1,
.card-2 {
  width: 400px;
  margin: 0;
  padding: 0 50px;
  box-sizing: border-box;
}

.card-2-img {
  order: -1;
}

.features-item {
  margin: 0;
  padding: 0;
}

.features-item,
.tips-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.features-item h3,
.tips-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.no-image-item {
  padding: 0 71px;
  background-color: var(--basic-mid-grey);
  display: flex;
}

.card-3,
.card-4,
.card-5 {
  margin: auto;
}

.tips-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.tips-item {
  min-height: 330px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 0 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tips-item p {
  color: var(--basic-extra-dark);
  margin-top: 0;
}

.tips-item img {
  order: -1;
}

/* Appointment */

.hotel-appointment {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
  margin-top: 58px;
}

.hotel-appointment h2 {
  font-size: 30px;
  line-height: 24px;
}

.appointment-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.appointment-hotel-search {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 568px;

  outline: 5px solid rgba(245, 14, 45, 0.7);
  outline-offset: -5px;

  display: flex;
  flex-direction: column;
}

.appointment-form-dropdown {
  background-color: var(--basic-light-brown);
  height: 86px;
  font-size: 21px;
  color: var(--basic-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-form-dropdown:hover {
  background-color: var(--basic-mid-brown);
}

.appointment-form-dropdown:focus {
  background-color: var(--basic-dark-brown);
}

.appointment-form {
  height: 395px;
  box-sizing: border-box;
  margin: 0;
  padding: 55px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment-items {
  height: 173px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-input {
  font-family: inherit;
  background-color: var(--basic-light-grey);
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  border: none;
}

.appointment-input:hover {
  background-color: var(--special-dark-blue);
  border: none;
}

.appointment-input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-mid-blue);
}

.half-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-input {
  width: 114px;
}

.find-button {
  height: 58px;
  width: 458px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;

  background-color: var(--basic-light-blue);
}

.find-button:hover {
  background-color: var(--basic-mid-blue);
}

.find-button:focus {
  background-color: var(--basic-dark-blue);
  opacity: 0.3; /* как присвоить тексту, а не всей кнопке? */
}

/* Map section */

.main-map {
  background-color: var(--basic-dark-grey);
}

/* Hotel search parameters */

.hotel-search-section {
  background-color: var(--basic-light-blue);
  background-image: url(/img/Background/filter-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 217px;
  margin: 0;
  padding-top: 26px;
  box-sizing: border-box;
  color: var(--basic-white);
}

.hotel-search-form {
  outline: 5px solid rgba(15, 241, 34, 0.815);
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 73px max-content 120px max-content 1fr max-content 73px;
}

.infrastructure,
.hotel-type,
.coast-search-field {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form-subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.search-form-checkbox {
  margin-bottom: 25px;
}

.infrastructure {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.hotel-type {
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
}

.coast-per-day {
  grid-column: 6 / 7;
  display: flex;
  flex-direction: column;
}

.checkbox-field label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
  padding-bottom: 25px;
}

.search-form-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 23px;
  left: 0;
  top: -1px;
  background-image: url(/img/Icons/checkbox-shape.svg);
}

.search-form-checkbox:checked + label::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 23px;
  left: 0;
  top: -1px;
  background-image: url(/img/Icons/checkbox-checked-shape.svg);
}

.search-form-checkbox:checked + label::after {
  content: "";
  position: absolute;
  height: 17px;
  width: 22px;
  left: 4px;
  top: 0px;
  background-image: url(/img/Icons/check-sign.svg);
}

/* Search results */

.search-results-header {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  height: 86px;
  margin: 0;

  outline: 5px solid rgba(255, 81, 0, 0.7);
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 73px 135px 29px 1fr max-content 73px;
  align-items: baseline;
}

.search-results-header p {
  grid-column: 2 / 3;
}

.sorting-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  grid-column: 4 / 5;
  display: grid;
  grid-template-columns: min-content 10px 1fr;
  align-items: baseline;
}

.sorting-type-list,
.results-sort-list,
.search-results-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-type-list {
  grid-column: -2 / -1;
  display: flex;
  align-items: baseline;
}

.results-sort-list {
  grid-column: 5 / 6;
  display: flex;
  align-items: center;
}

.results-sort-item {
  margin-left: 12px;
}

.search-results-list {
  outline: 5px solid rgba(255, 81, 0, 0.7);
  outline-offset: -5px;

  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 73px 1fr 73px;
}

.search-results-item {
  outline: 5px solid rgba(26, 185, 61, 0.7);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  height: 150px;

  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 135px 29px 1fr 29px 110px;
  grid-template-rows: 150px 150px 150px;
  align-items: center;
}

.item-results-img {
  background-color: var(--basic-light-blue);

  grid-column: 1 / 2;
}

.card-info {
  grid-column: 3 / 4;
  display: grid;
  grid-template-areas:
    "title title title"
    "type coast ."
    "info booking .";
  column-gap: 6px;
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: min-content min-content min-content;
}

.rating-info {
  grid-column: 5 / 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.info-hotel-title {
  grid-area: title;
}

.info-hotel-type {
  grid-area: type;
}

.info-hotel-coast {
  grid-area: coast;
}

.more-info-button {
  background-color: var(--basic-light-blue);
  width: 110px;
  height: 27px;
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-button {
  background-color: var(--basic-light-brown);
  width: 142px;
  height: 27px;
  grid-area: booking;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting-type-link {
  opacity: 0.3;
  margin-left: 30px;
}

.sorting-type-link:hover {
  color: var(--basic-light-blue);
  opacity: 1;
}

.sorting-type-link:focus {
  color: var(--basic-black);
  opacity: 1;
}

.triangle-icons {
  width: 11px;
  height: 10px;
}

.triangle-icons:hover {
  fill: var(--basic-black);
}

.triangle-icons:focus {
  fill: var(--basic-light-blue);
}

.info-hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.more-info-button,
.booking-button {
  color: var(--basic-white);
  font-weight: 700;
}

.more-info-button:hover {
  background-color: var(--basic-mid-blue);
}

.more-info-button:focus {
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}

.booking-button:hover {
  background-color: var(--basic-mid-brown);
}

.booking-button:focus {
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}

.item-results-stars {
  color: var(--basic-light-blue);
  margin: 25px 0;
}

.item-results-rating {
  color: var(--special-dark-grey);
  background-color: var(--basic-light-grey);
  margin: 25px 0;
  width: 110px;
  display: flex;
  justify-content: center;
}

/* Main footer */

.index-footer {
  margin-top: -120px;
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--special-white);
  height: 120px;

  display: grid;
  grid-template-columns: 73px 327px 400px 327px 73px;
  align-content: center;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;

  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-phone-link {
  color: inherit;
}

.footer-social {
  list-style: none;

  margin: 0;
  padding: 0;

  grid-column: 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social li {
  margin: 0 3px;
  height: 48px;
  width: 46px;
}

.footer-copyright {
  grid-column: 4 / 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social ul {
  list-style: none;
}

.social-button svg {
  fill: var(--basic-white);
}
.social-button {
  background-color: var(--basic-light-blue);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: var(--basic-mid-blue);
}

.social-button:focus {
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}

.copyright-button {
  fill: var(--special-dark);
}

.copyright-button:hover {
  fill: var(--basic-light-blue);
}

.copyright-button:focus {
  fill: var(--special-grey);
}
