/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-light-blue: #81B3D2;
    --basic-mid-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-grey: #F2F2F2;
    --basic-mid-grey: #EEEEEE;
    --basic-dark-grey: #A9A9A9;
    --basic-light-brown: #766357;
    --basic-mid-brown: #604E43;
    --basic-dark-brown: #503E33;
    --basic-black: #000000;
    --basic-extra-dark: #333333;

    --special-light-grey: #CACACA; /* down button */
    --special-dark-grey: #666666; /* hotel rating */
    --special-dark: #231F20; /* HTML-Academy logo still */
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

/* User navigation */

.navigation-link {
  color: var(--basic-black);
}

.navigation-link:hover {
  color: var(--basic-light-blue);
}

.navigation-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-link-current {
  color: var(--basic-light-brown);
}

/* Welcome part*/

.welcome {
  background-image: url(../img/Background/background-welcome.jpg);
  background-color: var(--basic-light-blue);
  background-repeat: no-repeat;
  background-position: top center;
}

.welcome::after {
  background-image: url(../img/Background/welcome-bottom-shape.png);
  background-repeat: no-repeat;
  background-position: top center;
}

/* Features */

.features-slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features-list-title {
  color: var(--basic-extra-dark);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.features-list,
.tips-list {
  list-style: none;
}

.features-item,
.tips-item {
  list-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.features-item h3,
.tips-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.image-item {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.no-image-item {
  background-color: var(--basic-mid-grey);
}
