/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-light-blue: #81B3D2;
    --basic-mid-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-grey: #F2F2F2;
    --basic-mid-grey: #EEEEEE;
    --basic-dark-grey: #A9A9A9;
    --basic-light-brown: #766357;
    --basic-mid-brown: #604E43;
    --basic-dark-brown: #503E33;
    --basic-black: #000000;
    --basic-extra-dark: #333333;

    --special-light-grey: #CACACA; /* down button */
    --special-dark-grey: #666666; /* hotel rating */
    --special-grey: #BDBBBC; /* TML-Academy logo focus */
    --special-dark: #231F20; /* HTML-Academy logo still */
    --special-dark-blue: #ebebeb; /* input hover background */
    --special-mid-blue: #e5e5e5; /* input focus border */
    --special-white: rgba(255, 255, 255, 0.9); /* footer background */
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

/* User navigation */

.navigation-link {
  color: var(--basic-black);
}

.navigation-link:hover {
  color: var(--basic-light-blue);
}

.navigation-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-link-current {
  color: var(--basic-light-brown);
}

/* Welcome part*/

.welcome {
  background-image: url(../img/Background/background-welcome.jpg);
  background-color: var(--basic-light-blue);
  background-repeat: no-repeat;
  background-position: top center;
}

.welcome::after {
  content: url(../img/Background/welcome-bottom-shape.png);
  position: relative;
  bottom: 0;
  left: 50%;
}

/* Features */

.features-slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.features-list-title {
  color: var(--basic-extra-dark);
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.features-list,
.tips-list {
  list-style: none;
}

.features-item,
.tips-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.features-item h3,
.tips-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.image-item {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.no-image-item {
  background-color: var(--basic-mid-grey);
}

/* Appointment */

.hotel-appointment {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-appointment h2 {
  font-size: 30px;
  line-height: 24px;
}

.appointment-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.appointment-form-dropdown { /*как увеличить размер фона? внутрь div?*/
  background-color: var(--basic-light-brown);
  background-size: 568px 86px;
  font-size: 21px;
  color: var(--basic-white);
}

.appointment-form-dropdown:hover {
  background-color: var(--basic-mid-brown);
}

.appointment-form-dropdown:focus {
  background-color: var(--basic-dark-brown);
}

.appointment-form { /*нужно дублировать шрифты из .hotel-appointment?*/

}

.appointment-item {
  background-color: var(--basic-light-grey);
}

.appointment-item:hover {
  background-color: var(--special-dark-blue);
}

.appointment-item:focus {
  background-color: transparent;
  border: 2px solid var(--special-mid-blue);
  box-sizing: border-box;
}

/* Map section */

.main-map {
  background-color: var(--basic-dark-grey);
}

/* Hotel search parameters */

.hotel-search-section {
  background-color: var(--basic-light-blue);
  background-image: url(/img/Background/filter-background.jpg);
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.search-form-subtitle {
  font-size: 16px;
  font-weight: 700;
}

/* Search results */

.search-results-header {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-type-list,
.results-sort-list,
.search-results-list {
  list-style: none;
}

.sorting-type-link {
  opacity: 0.3;
}

.sorting-type-link:hover {
  color: var(--basic-light-blue);
  opacity: 1;
}

.sorting-type-link:focus {
  color: var(--basic-black);
  opacity: 1;
}

.results-sort-item {
  color: var(--special-light-grey);
}

.results-sort-item:hover {
  color: var(--basic-black);
  opacity: 1;
}

.results-sort-item:focus {
  color: var(--basic-light-blue);
}

.item-results-img {
  background-color: var(--basic-light-blue);
}

.search-results-item h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.more-info-button,
.booking-button {
  color: var(--basic-white);
  font-weight: 700;
}

.more-info-button {
  background-color: var(--basic-light-blue);
}

.more-info-button:hover {
  background-color: var(--basic-mid-blue);
}

.more-info-button:focus {
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}

.booking-button {
  background-color: var(--basic-light-brown);
}

.booking-button:hover {
  background-color: var(--basic-mid-brown);
}

.booking-button:focus {
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}

.item-results-stars {
  color: var(--basic-light-blue);
}

.item-results-rating {
  color: var(--special-dark-grey);
  background-color: var(--basic-light-grey);
}

/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--special-white);
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
}

.footer-social ul {
  list-style: none;
}

.social-button img {
  fill: var(--basic-white);
}
.social-button {
  background-color: var(--basic-light-blue);
}

.social-button:hover {
  background-color: var(--basic-mid-blue);
}

.social-button:focus {
  background-color: var(--basic-dark-blue);
  opacity: 0.3;
}

.copyright-button {
  fill: var(--special-dark);
}

.copyright-button:hover {
  fill: var(--basic-light-blue);
}

.copyright-button:focus {
  fill: var(--special-grey);
}

